@use "sass:map";
/*fadeing carrusell*/
.what__solve {
    background-image: url(/img/que-resuelve-bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 966px;
    padding-top: 118px;
    padding-bottom: 227px;
    .card.card__trasparent {
        .number {
            display: flex;
            width: 48px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 100px;
            background: #2CBBE7;
            color: var(--Black, #000);
            text-align: center;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Helvetica;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
        }
        h3 {
            color: #000;
            font-family: 'Montserrat';
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            background-color: transparent;
            text-align: left;
            margin: 16px 0px;
            padding: 10px 0;
        }
        p {
            color: #000;
            text-align: left;
        }
    }
    .card__description {
        &:not(.show){
            display: none;
        }
        .number{
            display: flex;
            width: 94px;
            height: 94px;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: #2CBBE7;
            color: #000;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            text-transform: capitalize;
        }
    }
}